:root{
    --theme-color: linear-gradient(to right, #0083B0, #00B4DB);
    --orange-color: #FF9F43;
    --blue-color:#00CFE8;
    --purple-color: #1B2850;
    --green-color: #28C76F;
    --red-color: #DC281E;

    --primary:#5b3cc4;
    --success:rgb(23, 201, 100);
    --danger:rgb(242, 19, 93);
    --warning:rgb(255, 130, 0);
    --dark:rgb(36, 33, 69);

    --box-shadow: 0 0 1.5rem 0 rgb(136 152 170 / 15%);
 }