@import url('../../globalStyles/globalStyles.css');

.payment-card {
    margin: 20px auto;
    width: 95%;
    padding: 25px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffff;
    border-radius: 10px;
}

.payment-logo {
    width: 200px;
    font-weight: 700;
    font-size: 30px;
}

.payment-notify {
    font-size: 12px;
    margin-bottom: 10px;
}

.topup-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 15px;
    margin-top: 20px;
}

#option-title {
    font-size: 16px;
    font-weight: bold;
    padding: 7px 4px;
    width: 100%;
    border-radius: 3px;
    margin: 0px 0px !important;
    display: inline-block;
    background-color: rgb(223, 223, 223);
    color: rgb(61, 61, 61);
}

.option1-list {
    padding: 10px 20px;
}

.option1-list li {
    padding: 5px 0px;
}

#paybill {
    font-weight: bold;
}

.payment-input-group {
    width: 100%;
    margin: 10px 0px;
}

.payment-label {
    font-size: 14px;
    font-weight: bold;
    color: rgb(54, 54, 54);
}

.payment-input {
    border-radius: 3px;
    width: 100%;
    padding: 7px 7px;
    border: 1px solid rgb(209, 209, 209);
}

.payment-input:focus {
    border: 1px solid var(--blue-color);
    outline: none;
    background-color: rgb(255, 255, 255);
}

#error {
    font-size: 12px;
    color: rgb(221, 34, 34);
    margin-top: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 780px) {
    .payment-card {
        width: 95%;

    }

    .login-form {
        width: 95%;
    }
}










.payment-btn {
    padding: 10px 7px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-image: var(--theme-color);
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    width: 120px;
    cursor: pointer;
}

.payment-btn:hover {
    opacity: 0.7 !important;
    transition: opacity .3s ease-in-out;
}

.btn-disabled{
    cursor: not-allowed;
    padding: 7px 7px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 16px !important;
    height: 16px !important;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) transparent rgb(254, 255, 255) transparent !important;
    animation: lds-dual-ring 0.9s linear infinite !important;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }